@model Product_CRUD.Models.DTO.CategoryToDisplayDTO

@{
    ViewData["Title"] = Model.CategoryName + " - szczegóły";
}

<div>
    <h4>
        @Html.DisplayFor(model => model.CategoryName)
    </h4>
<p>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Create","Products")'">Dodaj nowy produkt</button>
</p>
    @if(!Model.ProductToDisplayDTOs.Any())
    {
        <p>Brak produktów w tej kategorii</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Produkt
                    </th>
                    <th>
                        Cena
                    </th>
                    <th>
                        Akcja
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var product in Model.ProductToDisplayDTOs) 
            {
                <tr>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.NettoPrice (@product.GrossPrice <b>@product.TaxDisplayValue VAT</b>)
                    </td>
                    <td>
                         <button class="btn btn-info btn-sm" onclick="location.href='@Url.Action("Details","Products",new {id = product.Id})'">Szczegóły</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>
<div>
    <a asp-action="Index">Powrót do listy</a>
</div>