@model IEnumerable<Product_CRUD.Models.Entities.Product>

@{
    ViewData["Title"] = "Lista produktów";
}

@using(Html.BeginForm())
{
    <p>
        Wyszukaj nazwę produktu: @Html.TextBox("SearchString")
        <input type="submit" class="btn btn-success btn-sm" value="Szukaj"/>
    </p>
}
<p>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Create","Products")'">Dodaj nowy produkt</button>
</p>
<h6 class="bg-primary text-white text-center m-2 p-2">Lista produktów</h6>
<table class="table table-sm table-striped table-bordered" id="contentTable">
    <thead>
        <tr>
            <th class="text-center">
                @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th class="text-center">
                @Html.ActionLink("Kategoria", "Index", new { sortOrder = ViewBag.CategorySortParm })
            </th>
            <th class="text-center">
                @Html.ActionLink("Cena brutto (23% VAT)", "Index", new { sortOrder = ViewBag.PriceSortParm })
            </th>
            <th class="text-center">Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
               <button class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete","Products",new {id = item.Id})'">Usuń</button>
            </td>
        </tr>
}
    </tbody>
</table>