@model IEnumerable<Product_CRUD.Models.DTO.ProductToDisplayDTO>

@{
    ViewData["Title"] = "Lista produktów";
}

@using(Html.BeginForm())
{
    <p>
        Wyszukaj nazwę produktu: @Html.TextBox("SearchString")
        <input type="submit" class="btn btn-success btn-sm" value="Szukaj"/>
    </p>
}
<p>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Create","Products")'">Dodaj nowy produkt</button>
</p>
<h6 class="bg-primary text-white text-center m-2 p-2">Lista produktów</h6>
<table class="table table-sm table-striped table-bordered" id="contentTable">
    <thead>
        <tr>
            <th class="text-center">
                @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.NameSortParm }, new {title = "Sortuj po nazwie"})
            </th>
            <th class="text-center">
                @Html.ActionLink("Kategoria", "Index", new { sortOrder = ViewBag.CategorySortParm }, new {title = "Sortuj po nazwie kategorii"})
            </th>
            <th class="text-center">
                @Html.ActionLink("Cena", "Index", new { sortOrder = ViewBag.PriceSortParm }, new {title = "Sortuj po cenie netto"})
            </th>
            <th class="text-center">Akcje</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NettoPrice)
                (@Html.DisplayFor(modelItem=>item.GrossPrice) 
                <b>
                    @Html.DisplayFor(modelItem=>item.TaxDisplayValue) VAT
                </b>)
            </td>
            <td>
               <button class="btn btn-warning btn-sm" onclick="location.href='@Url.Action("Edit","Products",new {id = item.Id})'">Edytuj</button>
               <button class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete","Products",new {id = item.Id})'">Usuń</button>
            </td>
        </tr>
}
    </tbody>
</table>