@model IEnumerable<Product_CRUD.Models.Entities.Product>

@{
    ViewData["Title"] = "Lista produktów";
}

@using(Html.BeginForm())
{
    <p>
        Wyszukaj nazwę produktu: @Html.TextBox("SearchString")
        <input type="submit" class="btn btn-success btn-sm" value="Szukaj"/>
    </p>
}

<p>
    <button class="btn btn-secondary" onclick="location.href='@Url.Action("Create","Products")'">Dodaj nowy produkt</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Nazwa", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @Html.ActionLink("Kategoria", "Index", new { sortOrder = ViewBag.CategorySortParm })
            </th>
            <th>
                @Html.ActionLink("Cena", "Index", new { sortOrder = ViewBag.PriceSortParm })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
               <button class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("Delete","Products",new {id = item.Id})'">Usuń</button>
            </td>
        </tr>
}
    </tbody>
</table>

@*   <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>*@